body{
    background-color: turquoise;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}


.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 11px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}


#header{
    position: sticky;
    top: 0px;
    position: fixed;
    padding: 0%;
    margin: 0%; 
}

header {
    position: sticky;
    top: 0;
    padding: 0%;
    margin: 0%; 
    width: 100%;
}


h3{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    height: 75%;
    max-width: 100%;
    margin: 0;
}



#footer{
display: flex;
justify-content: space-around;
align-items: center;
}

footer{
    position: fixed;
    margin-top: auto;
    vertical-align: middle;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: black;
    text-align: left;
}

.fa-brands{
    display:inline-block;
    font-size: 30px;
    line-height: 40px;
    background-color:black;
    padding-left: 3%;
    color:white;
    height: auto;
    vertical-align: bottom;
    z-index: 2;
}

.carousel-container{
    margin: 0;
    height: 100vh;
    width: 100vw;
}



/* ======= #div0 section / About Me ======== */

    #div0{
        display: flex;
        flex-direction: column;
        padding-top: 15%;
        height: 100%;
        max-width: 100%;
        margin: 0;
    }

    
    #div0 h1 {
        vertical-align: middle;
        padding-top:3%;
        text-align: center;
    }
    

    #div0content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60%;
    }
    
    #div0 img{
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        border-radius: 50%;
        width: 100%;
        max-width: 200px;
    }

    #div0 p{
        width: 100%;
        justify-content: center;
        text-align: center;
        top: 50%;
    }


/* ======= #div1 section / Resume ======== */



#div1{
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    height: 75%;
    max-width: 100%;
    margin: 0;
}

#div1 h1{
    text-align: center;
}

#divresumecontent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

#interests p, #employment p, #education p {
    text-align: center;
    padding-bottom: 5%;
}

.resume-toggle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}


.resume-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* ======= #div2 section / Projects ======== */
#div2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 95%;
}


/* ======= CAROUSEL SECTION ======== */

#div2 h1{
    padding-top: 10%;
}

.carousel-container {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 100vw;
}

.carousel-container > .carousel-item {
	width: 50%;
}


.carousel-contain {
	width: 100%;
    height: 75%;
	display: flex;
	justify-content: space-around;
    align-items: center;
}

.carousel-projects {
	width: 80%;
	background: #fa8d8e;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #f2cd99;
}

.carousel-projects .carousel-item {
	width: 100%;
	border-radius: 10px;
	display: none;
}

.carousel-button {
	align-self: center;
	color: #888;
	padding: 10px;
	text-align: center;
}

.previous{
    float: left;
    width: 10%;
    padding-left: 0;
    margin: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
}

.next{
    float: right;
    width: 10%;
    padding-right: 0;
    margin: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
}

.carousel-projects .carousel-item:first-of-type {
	display: block;
}

/* ======= #div3 section / Contact Me ======== */

#div3{
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    height: 75%;
    max-width: 100%;
    margin: 0;
}

#div3 h1 {
    vertical-align: middle;
    padding-top:3%;
    text-align: center;
}

#div3content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

#div3 p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

#div3 form{
    padding-bottom: 10%;
    text-align: center;
}

@media (min-width: 750px){

    /* ======= #div0 section / About me ======== */

    #div0, #div1, #div2, #div3{
        padding-top: 5%;
    }

    #div0 img {
        max-width: 300px;
    }

    /* ======= #div1 section / Resume ======== */

    /* ======= #div2 section / Projects ======== */

    #div2 h1{
        padding-top: 5%;
    }

    .carousel-contain{
        height: 60%;
    }

    .carousel-button {
        align-self: center;
        background: #f2cd99;
        color: #888;
        padding: 10px;
        border-radius: 50%;
        text-align: center;
        box-shadow: 1px 1px #fa8d8e;
    }

    .previous{
        float: left;
        width: 10%;
        padding-left: 0;
        margin: 0;
        height: 20%;
    }
    
    .next{
        float: right;
        width: 10%;
        padding-right: 0;
        margin: 0;
        height: 20%;
    }

    .carousel-button:hover {
        cursor: pointer;
        background: #fa8d8e;
        box-shadow: 1px 1px #f2cd99;
        color: white;
    }
    
    /* ======= #div3 section / Contact Me ======== */

    #div3 p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #div3 form{
        padding-bottom: 10%;
        text-align: center;
    }

    /* ======= footer ======== */

    #footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }


@media (min-width: 1100px){

    /* ======= #div0 section / About me ======== */
    
    #div0content{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        height: 50%;
    }

    #div0content p{
        max-width: 50%;
    }

    #div0content img{
        max-width: 400px;
    }

    /* ======= #div1 section / Resume ======== */

    #resumecontent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .resume-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-start;
        float: left;
        width: 25%;
        max-width: 25%;
    }

    .resume-toggle a{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 250px;
        text-decoration: none;
    }

    .resume-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-start;
        float: right;
        width: 70%;
        max-width: 70%;
    }

    .resume-info p{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    /* ======= #div2 section / Projects ======== */

    #div2 h1{
        padding: 0;
    }

    .carousel-contain {
        padding-bottom: 5%;
    }

    .carousel-projects{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;

    }

    /* ======= #div3 section / Contact Me ======== */
    }
}
