body{
    font-family: Monserat;
    background-color: #f7c59f;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a {
    font-family: 'Montserrat Alternates', sans-serif;
}



.navbar {
    background-color: #2a324b;
    overflow: hidden;
}


.navbar a {
    float: right;
    color: #e1e5ee;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #767B91;
    color: #e1e5ee;
}

.navbar a.active {
    background-color: #c7ccdb;
    color: #2a324b;
}


#header{
    position: sticky;
    top: 0px;
    position: fixed;
    padding: 0%;
    margin: 0%; 
}

header {
    position: sticky;
    top: 0;
    padding: 0%;
    margin: 0%; 
    width: 100%;
}

h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5rem;
}


h3{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
font-size: 1.5rem;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.container{
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    height: 75%;
    max-width: 100%;
    margin: 0;
}



#footer{
display: flex;
justify-content: space-around;
align-items: center;
}

footer{
    position: fixed;
    margin-top: auto;
    vertical-align: middle;
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: #2a324b;
    text-align: left;
}

.fa-brands{
    display:inline-block;
    font-size: 30px;
    line-height: 40px;
    background-color:#2a324b;
    padding-left: 3%;
    color:#e1e5ee;
    height: auto;
    vertical-align: bottom;
    z-index: 2;
}

.carousel-container{
    margin: 0;
    height: 100vh;
    width: 100vw;
}



/* ======= #div0 section / About Me ======== */

    #div0{
        display: flex;
        flex-direction: column;
        padding-top: 15%;
        height: 100%;
        max-width: 100%;
        margin: 0;
    }

    
    #div0 h1 {
        vertical-align: middle;
        padding-top:3%;
        text-align: center;
    }
    

    #div0content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60%;
    }
    
    #div0 img{
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        border-radius: 50%;
        width: 100%;
        max-width: 200px;
    }

    #div0 p{
        width: 70%;
        justify-content: center;
        text-align: center;
        top: 50%;
    }


/* ======= #div1 section / Resume ======== */



#div1{
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    height: 75%;
    max-width: 100%;
    margin: 0;
}

#div1 h1{
    text-align: center;
}

#divresumecontent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

#interests p, #employment p, #education p {
    text-align: center;
    padding-bottom: 5%;
}

.resume-toggle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2a324b;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.resume-toggle a{
    border-radius: 5px;
    text-decoration: none;
    color: #c7ccdb;
    padding: 5px;
}


.resume-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#c7ccdb;
    color: #2a324b;
    border-radius: 20px;
    box-shadow: 3px 3px #767b91;
    margin-right: 10%;
    margin-left: 10%;
}


/* ======= #div2 section / Projects ======== */
#div2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 95%;
}


/* ======= CAROUSEL SECTION ======== */

#div2 h1{
    padding-top: 10%;
}

.carousel-container {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 100vw;
}

.carousel-container > .carousel-item {
	width: 50%;
}


.carousel-contain {
	width: 100%;
    height: 75%;
	display: flex;
	justify-content: space-around;
    align-items: center;
}

.carousel-projects {
    display: flex;
    align-items: center;
	width: 80%;
    height: 60%;
	background: #c7ccdb;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 4px 4px 10px  #2a324b;
}

.carousel-projects .carousel-item {
	width: 100%;
	border-radius: 10px;
	display: none;
}

.carousel-button {
	align-self: center;
	color: #888;
	padding: 10px;
	text-align: center;
}

.previous{
    align-self: center;
    text-align: center;
    float: left;
    width: 10%;
    padding-left: 0;
    margin: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
}

.next{
    align-self: center;
    text-align: center;
    float: right;
    width: 10%;
    padding-right: 0;
    margin: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
}

.carousel-button i {
    display: none;
}

.carousel-projects .carousel-item:first-of-type {
	display: block;
}

/* ======= #div3 section / Contact Me ======== */

#div3{
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    height: 75%;
    max-width: 100%;
    margin: 0;
}

#div3 h1 {
    vertical-align: middle;
    padding-top:3%;
    text-align: center;
}

#div3content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 60%;
}

#div3 p {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

#div3 form{
    padding-bottom: 10%;
    text-align: center;
}

#div3 input.btn{
        height: 40px;
        width: 150px;
        border-radius: 15px;
        border: none;
        color: #e1e5ee;
        background-color: #2a324b;
        box-shadow: 3px 3px 3px 3px #767b91;
}

@media (min-width: 600px){

    /* ======= #div0 section / About me ======== */

    #div0, #div1, #div2, #div3{
        padding-top: 5%;
    }

    #div0 img {
        max-width: 300px;
    }

    /* ======= #div1 section / Resume ======== */

    .resume-toggle a{
        font-size: 1.5rem;
        border-radius: 8px;
    }

    #interests {
        height: 400px;
    }

    /* ======= #div2 section / Projects ======== */

    #div2 h1{
        padding-top: 5%;
    }

    .carousel-contain{
        height: 60%;
    }

    .carousel-projects{
        max-width: 65%;
    }

    .carousel-button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        background: #c7ccdb;
        color: #888;
        padding: 10px;
        border-radius: 20%;
        text-align: center;
        box-shadow: 1px 1px #767b91;
    }

    .carousel-button i {
        display: block;
        color: #000;
    }

    .previous{     
        float: left;
        width: 10%;
        padding-left: 0;
        margin: 0;
        height: 20%;
    }
    
    .next{
        float: right;
        width: 10%;
        padding-right: 0;
        margin: 0;
        height: 20%;
    }

    .carousel-button:hover {
        cursor: pointer;
        background: #2a324b;
        box-shadow: 1px 1px #2a324b;
        color: white;
    }
    
    /* ======= #div3 section / Contact Me ======== */

    #div3 p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #div3 form{
        padding-bottom: 10%;
        text-align: center;
    }

    /* ======= footer ======== */

    #footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }


@media (min-width: 1100px){

    /* ======= #div0 section / About me ======== */
    
    #div0content{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        height: 50%;
    }

    #div0content p{
        max-width: 50%;
    }

    #div0content img{
        max-width: 400px;
    }

    /* ======= #div1 section / Resume ======== */

    #resumecontent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .resume-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-start;
        float: left;
        width: 25%;
        max-width: 25%;
        margin-right: 0%;
        margin-left: 2%;
    }

    .resume-toggle a{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 125px;
        padding-right: 125px;
        text-decoration: none;
    }

    .resume-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-start;
        float: right;
        width: 65%;
        max-width: 70%;
        padding-left: 50px;
        margin-right: 2%;
        margin-left: 0%;
    }

    .resume-info p{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    /* ======= #div2 section / Projects ======== */

    #div2 h1{
        padding: 0;
    }

    .carousel-contain {
        padding-bottom: 5%;
    }

    .carousel-projects{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;

    }

    /* ======= #div3 section / Contact Me ======== */
    }
}
